footer.footer.d-flex.justify-content-between.align-items-center
    ul.footer__nav.d-flex
        li
            a(href="#") creative tim
        li
            a(href="#") blog
        li
            a(href="#") licenses
    span.footer__copyright © 2019, made by Creative Tim
