nav.navbar.d-flex
    a.navbar__brand(href="#") Paper Dashboard
    .navbar__item.d-flex
        form
            input(type="text" placeholder="Search...")
            img(src="../../src/img/search.svg")
        ul.d-flex.align-items-center
            li
                a(href="#")
                    img(src="../../src/img/noti-small.svg")
            li
                a(href="#")
                    img(src="../../src/img/setting.svg")



