extends ../layout/layout.pug

block title
    title Map

block main-content
    .content
        .row
            .col-lg-12
                .card
                    .card-header Google map
                    .card-body
                        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1647.6908519138717!2d106.702445122736!3d10.819624655911419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528925b270d39%3A0x921c4d18b7d9de87!2zVUJORCBQaMaw4budbmcgMTM!5e0!3m2!1svi!2s!4v1577433073274!5m2!1svi!2s' width='990' height='600' frameborder='0' style='border:0;' allowfullscreen='')
