.card {
    border-radius: 12px;
    border: none;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    margin-bottom: 20px;
    &-header, &-footer {
        background: #fff;
    }
    &-header {
        border-radius: 12px 12px 0px 0px !important;
        border-bottom: none;
    }
    &-footer {
        border-radius: 0px 0px 12px 12px !important;
        img {
            vertical-align: baseline;
            width: 14px;
            height: 14px;
            margin-right: 10px;
        }
    }
    &-category {
        color: $grey2;
        font-size: 14px;
    }
    &-title {
        margin: 10px 0;
    }
}